.p-2{
	border:0.1px solid;
  border-style: dashed;
  margin:20px;
  padding:5px;
  color: silver;
  line-height:35px;
}

button:not(:disabled) {
  cursor: pointer;
}
p.a{
    padding:5px 10px;
    margin:5px 100px;
}
button
{ 
    font-family: Open sans;
    color: white;
    background-color: transparent;
    border:none;
}
button:hover
{
     color:#2196f3;
     background-color:transparent;
     text-shadow: 0 10 20px #2196f3;
}